HW1_2021555.zip
HW1_2021555/Tracking/data/
HW1_2021555/Detection/data/
HW1_2021555/Theory/
Previous_year/
*.zip
*.py
*.jpeg
*.jpg
*.png
*.pcd
/Merged Data
/Project
/HW1_2021555/Classification/weights
/HW1_2021555/Detection
/HW1_2021555/Segmentation
